<div class="container">
  <form class="form-inline" (input)="filterAirports()">
    <input
      [(ngModel)]="searchBarText"
      class="form-control mr-sm-2 search-bar"
      type="search"
      placeholder="Search for airports..."
      name="originSearchBarText"
    />
  </form>
  <div class="search-results mt-3" *ngIf="searchBarText.trim()">
    <a
      class="list-group-item list-group-item-action"
      *ngFor="let airport of airports"
      [routerLink]="['/airports', airport.id]"
    >
      {{ airport.name }} - {{ airport.airportCode }}
    </a>
    <div *ngIf="airports?.length === 0" class="no-results-text alert alert-warning">No results found</div>
  </div>
</div>
