<div class="edit-container d-flex justify-content-center align-items-center flex-column">
  <div class="edit-content d-flex justify-content-center align-items-center flex-column">
    <div class="row">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Edit Profile</h3>
          </div>
          <div class="card-body">
            <form class="form" #editProfileForm="ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control rounded-0" id="name" [(ngModel)]="user.name" name="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger ml-2">
                  <div *ngIf="email.errors && email.errors['email']">
                    Invalid email format.
                  </div>
                </small>
                <input type="email" class="form-control rounded-0" id="email" [(ngModel)]="user.email" name="email" email #email="ngModel">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control rounded-0" id="password" [(ngModel)]="user.password" name="password">
              </div>
              <div class="pt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mr-2" (click)="saveChanges()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
