<!-- <div class="search-container">
    <div class="from-container">
        <form class="form-inline" >
          <input
            class="form-control mr-sm-2 search-bar"
            type="search"
            placeholder="From"
            name="searchBarText"
          />
        </form>
    </div>
    <div class="destination-container">
        <form class="form-inline" >
          <input
            class="form-control mr-sm-2 search-bar"
            type="search"
            placeholder="Destination"
            name="searchBarText"
          />
        </form>
    </div>
</div> -->
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="From" aria-label="From">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Destination" aria-label="Destination">
  </div>
</div>
<!-- display list of cities as user types -->
