.become-a-pilot-container {
  padding-top: 5rem;
}

.section-container {
  width: 70%;
  min-width: 20rem;
  margin: 2rem auto;
}

.card.mb-3 {
  min-height: 9rem;
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 5rem;
}

.loading-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .card-title,
  .card-details {
    text-align: center;
  }
}

@media screen and (max-width: 510px) {
  .become-a-pilot-container {
    padding-top: 8rem;
  }
}
