a {
    text-decoration: none;
}

/*
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.airports-container {

    border: 2px solid red;
}
*/

#list-container {
  height: 52rem;
  overflow-y: scroll;
}




/* .airports-list-container {
    border: 2px solid green;
} */
