#list-container {
  max-height: 50rem;
  overflow-y: scroll;
}

.card-img-top {
  height: 30rem;
  width: 30rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-group {
  width: 25rem;
}
