.my-profile-container {
  margin: 0 auto;
  padding: 6rem 0;
}

.row {
  min-width: 30rem;
}

.profile-details {
  width: 100%;
}

@media screen and (max-width: 510px) {
  .my-profile-container {
    padding: 10rem 0;
  }
}
