<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://skylight-project.s3.amazonaws.com/frontend/plane2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://skylight-project.s3.amazonaws.com/frontend/rb_plane.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://skylight-project.s3.amazonaws.com/frontend/nubian_royal_starship.png" class="d-block w-100" alt="nubian royal starship">
    </div>
    <div class="carousel-item">
      <img src="https://skylight-project.s3.amazonaws.com/frontend/pilot.jpg" class="d-block w-100" alt="pilot">
    </div>
    <div class="carousel-item">
      <img src="https://skylight-project.s3.amazonaws.com/frontend/plane.jpg" class="d-block w-100" alt="pilot">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
