<div
  class="schedule-flight-container d-flex justify-content-center align-items-center flex-column"
>
  <h1 class="display-1">Explore A New Sky</h1>
  <form
    action=""
    class="row g-3 form"
    #airport="ngForm"
    (ngSubmit)="createFlight()"
  >
  <h2>Origin</h2>
    <div class="input-fields d-flex flex-column">
        <label class="col-sm-2" name="airport name">Airport</label>
        <div class="col-sm-10">
          <select
            name="airport"
            class="form-control"
            (change)="saveOriginAirportSelect($event)"
          >
            <option id="airport-select">Airport</option>
            <option
              *ngFor="let airport of airportData"
              name="airport.name"
              [value]=" airport.id"
              [(ngModel)]="airport.airportCode"
            >
              {{ airport.name }} - {{ airport.airportCode }}
            </option>
          </select>
        </div>
    </div>
    <div class="col-md-6">
      <label for="airplane" class="form-label">Airplane </label>
      <input
        type="text"
        class="form-control"
        name="airplane"
        [(ngModel)]="flightData.airplane"
      />
    </div>
    <div class="col-md-6">
      <label for="departureDate" class="form-label"
        >Departure Date: <em>MM-DD-YYYY</em>
      </label>
      <input
        type="text"
        class="form-control"
        name="departureDate"
        [(ngModel)]="flightData.departureDate"
      />
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label"
        >Departure Time: <em>24-Hour Format</em></label
      >
      <input
        type="text"
        class="form-control"
        name="departureTime"
        [(ngModel)]="flightData.departureTime"
      />
    </div>
    <!-- Destination -->
    <h2>Destination</h2>
    <div class="input-fields d-flex flex-column">
        <label class="col-sm-2" name="airport name">Airport</label>
        <div class="col-sm-10">
          <select
            name="airport"
            class="form-control"
            (change)="saveDestinationAirportSelect($event)"
          >
            <option id="airport-select">Airport</option>
            <option
              *ngFor="let airport of airportData"
              name="airport.name"
              [value]=" airport.id"
              [(ngModel)]="airport.airportCode"
            >
              {{ airport.name }} - {{ airport.airportCode }}
            </option>
          </select>
        </div>
    </div>
    <div class="col-md-6">
      <label for="arrivalDate" class="form-label"
        >Arrival Date: <em>MM-DD-YYYY</em>
      </label>
      <input
        type="text"
        class="form-control"
        name="arrivalDate"
        [(ngModel)]="flightData.arrivalDate"
      />
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label"
        >Arrival Time: <em>24-Hour Format</em></label
      >
      <input
        type="text"
        class="form-control"
        name="arrivalTime"
        [(ngModel)]="flightData.arrivalTime"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Schedule Flight</button>
    </div>
  </form>
</div>
